﻿body {
}

  .auto-style1 {
            width: 100%;
            float: left;
            border: 3px solid #000000;
            background-color: #C0C0C0;
        }
        .headers {
            color:#c3de4b;
            font-family:'Agency FB'
        }
        #header1 {
            background-color:azure;
        }

       .btn-primary {
           color: #000;
       }